@font-face {
  font-family: "SpotifyBold";
  src: local("CircularSpotifyHead-Bold-4433a3"),
    url(./../fonts/CircularSpotifyHead-Bold-4433a3.woff) format("woff");
}

@font-face {
  font-family: "SpotifyMedium";
  src: local("CircularSpotifyText-Medium"),
    url(./../fonts/CircularSpotifyText-Medium-9c5342.woff) format("woff");
}

@font-face {
  font-family: "SpotifyBook";
  src: local("CircularSpotifyText-Book-748e66"),
    url(./../fonts/CircularSpotifyText-Book-748e66.woff) format("woff");
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "SpotifyBook", Helvetica, Arial, sans-serif;
  background-color: #eef2f6;
  line-height: 1.4;
}
